<html>
<head>
<title>加密</title>
<meta charset="utf-8">
</head>
<body>

<h1>信息加密</h1>
<p>请输入加密内容,将采取AES加密算法为您加密后返回给您</p><br>
<p>请输入密码(16位)</p>
<form action="" method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

<input type="text" name="key"><br>
<p>请输入随机码</p>
<input type="text" name="sjm"><br>
<p>请输入加密内容</p>
<input type="text" name="word"><br>
<input type="submit" value="执行加密">
</form>
{% if xxx %}
<style type="text/css">
   .wrapper {position: relative;}
   #input {position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;}
</style>

<div class="wrapper">
   <p id="text">{{xxx}}</p>
   <textarea id="input">这是幕后黑手</textarea>
   <button onclick="copyText()">复制</button>
</div>
<script type="text/javascript">
    function copyText() {
      var text = document.getElementById("text").innerText;
      var input = document.getElementById("input");
      input.value = text; // 修改文本框的内容
      input.select(); // 选中文本
      document.execCommand("copy"); // 执行浏览器复制命令
      alert("复制成功");
    }
  </script>
</body>
</html>















{% else %}

{% endif %}



